In [1]:
# Import packages

from pathlib import Path
import pandas as pd
import pyodbc

In [2]:
# Retrieve SQL key

from api_keys import server_name, database_name, user_name, password

In [5]:
# Connect to Database

## Create connection string

connection_string = "DRIVER={ODBC Driver 18 for SQL Server};SERVER={"+ server_name + "};DATABASE={" + database_name + "};UID={" + user_name + "};PWD={" + password + "}"


## Try to establish a connection

try:
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    print("Connected to Azure SQL Database")

except Exception as e:
    print("Connection failed:", e)

Connected to Azure SQL Database

In [23]:
# Delete tables

table_names = ["rawPropertyRentData", "rawPropertyPurchaseData",
               "enrichedPropertyData", "comparisonPropertyData",
               "historicalPurchaseData", "historicalRentData"]

for table_name in table_names:
    
    try:
        cursor.execute(f"SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = '{table_name}'")
        table_exists = cursor.fetchone()
        
        if table_exists:
            cursor = connection.cursor()
            cursor.execute(f"DROP TABLE {table_name}")
            print(f"Table '{table_name}' deleted successfully")
            connection.commit()
        
    except Exception as e:
        print(f"Error dropping tables: {e}")

Table 'rawPropertyRentData' deleted successfully
Table 'rawPropertyPurchaseData' deleted successfully
Table 'enrichedPropertyData' deleted successfully
Table 'comparisonPropertyData' deleted successfully
Table 'historicalPropertyData' deleted successfully

In [24]:
# Create Raw Rental Data Table

sql_query = """
    CREATE TABLE rawPropertyRentData (
        propertyCode FLOAT PRIMARY KEY,
        searchType VARCHAR(30),
        propertyType VARCHAR(30),
        address VARCHAR(100),
        municipality VARCHAR(30),
        country VARCHAR(30),
        latitude FLOAT,
        longitude FLOAT,
        bathrooms FLOAT,
        bedrooms FLOAT,
        size FLOAT,
        status VARCHAR(30),
        floor VARCHAR(30),
        hasLift BIT,
        newDevelopment BIT,
        newProperty BIT,
        epc VARCHAR(30),
        monthlyRent FLOAT,
        url VARCHAR(100),
        image VARCHAR(100)
    );
    """
try:
    # Execute the SQL query to create the table
    cursor = connection.cursor()
    cursor.execute(sql_query)
    cursor.commit()

    print("Table created successfully")

except Exception as e:
    print("Connection failed:", e)

Table created successfully

In [25]:
# Create Raw Purchase Data Table

sql_query = """
    CREATE TABLE rawPropertyPurchaseData (
        propertyCode FLOAT PRIMARY KEY,
        searchType VARCHAR(30),
        propertyType VARCHAR(30),
        description VARCHAR(5000),
        address VARCHAR(100),
        municipality VARCHAR(30),
        country VARCHAR(30),
        latitude FLOAT,
        longitude FLOAT,
        bathrooms FLOAT,
        bedrooms FLOAT,
        size FLOAT,
        status VARCHAR(30),
        floor VARCHAR(30),
        hasLift BIT,
        newDevelopment BIT,
        newProperty BIT,
        epc VARCHAR(30),
        purchasePrice FLOAT,
        url VARCHAR(100),
        image VARCHAR(100)
    );
    """
try:
    # Execute the SQL query to create the table
    cursor = connection.cursor()
    cursor.execute(sql_query)
    cursor.commit()

    print("Table created successfully")

except Exception as e:
    print("Connection failed:", e)

Table created successfully

In [26]:
# Create Enriched Purchase Data Table

sql_query = """
    CREATE TABLE enrichedPropertyData (
        propertyCode FLOAT PRIMARY KEY,
        propertyType VARCHAR(30),
        description VARCHAR(5000),
        address VARCHAR(100),
        municipality VARCHAR(30),
        country VARCHAR(30),
        latitude FLOAT,
        longitude FLOAT,
        bathrooms FLOAT,
        bedrooms FLOAT,
        size FLOAT,
        status VARCHAR(30),
        floor VARCHAR(30),
        hasLift BIT,
        newDevelopment BIT,
        newProperty BIT,
        epc VARCHAR(30),
        purchasePrice FLOAT,
        predictedMonthlyRent FLOAT,
        url VARCHAR(100),
        image VARCHAR(100)
    );
    """
try:
    # Execute the SQL query to create the table
    cursor = connection.cursor()
    cursor.execute(sql_query)
    cursor.commit()

    print("Table created successfully")

except Exception as e:
    print("Connection failed:", e)

Table created successfully

In [27]:
# Create Comparison Property Data Table

sql_query = """
    CREATE TABLE comparisonPropertyData (
        propertyCodeMain FLOAT,
        propertyCodeComp FLOAT,
        PRIMARY KEY (propertyCodeMain, propertyCodeComp),
        propertyType VARCHAR(30),
        address VARCHAR(100),
        municipality VARCHAR(30),
        country VARCHAR(30),
        latitude FLOAT,
        longitude FLOAT,
        bathrooms FLOAT,
        bedrooms FLOAT,
        size FLOAT,
        status VARCHAR(30),
        floor VARCHAR(30),
        hasLift BIT,
        newDevelopment BIT,
        newProperty BIT,
        epc VARCHAR(30),
        monthlyRent FLOAT,
        url VARCHAR(100),
        image VARCHAR(100)
    );
    """
try:
    # Execute the SQL query to create the table
    cursor = connection.cursor()
    cursor.execute(sql_query)
    cursor.commit()

    print("Table created successfully")

except Exception as e:
    print("Connection failed:", e)

Table created successfully

In [7]:
# Create Historical Purchase Data Table

sql_query = """
    CREATE TABLE historicalPurchaseData (
        city VARCHAR(30),
        attribute VARCHAR(30),
        date DATE,
        PRIMARY KEY (city, attribute, date),
        zeroBedroom FLOAT,
        oneBedroom FLOAT,
        twoBedroom FLOAT,
        threeBedroom FLOAT,
        fourBedroom FLOAT,
        fiveBedroom FLOAT,
        moreThanFiveBedroom FLOAT,
        twentyFive FLOAT,
        fifty FLOAT,
        seventyFive FLOAT,
        hundred FLOAT,
        hundredFifty FLOAT,
        twoHundred FLOAT,
        moreThanTwoHundred FLOAT
    );
    """
try:
    # Execute the SQL query to create the table
    cursor = connection.cursor()
    cursor.execute(sql_query)
    cursor.commit()

    print("Table created successfully")

except Exception as e:
    print("Connection failed:", e)

Table created successfully

In [8]:
# Create Historical Rent Data Table

sql_query = """
    CREATE TABLE historicalRentData (
        city VARCHAR(30),
        attribute VARCHAR(30),
        date DATE,
        PRIMARY KEY (city, attribute, date),
        zeroBedroom FLOAT,
        oneBedroom FLOAT,
        twoBedroom FLOAT,
        threeBedroom FLOAT,
        fourBedroom FLOAT,
        fiveBedroom FLOAT,
        moreThanFiveBedroom FLOAT,
        twentyFive FLOAT,
        fifty FLOAT,
        seventyFive FLOAT,
        hundred FLOAT,
        hundredFifty FLOAT,
        twoHundred FLOAT,
        moreThanTwoHundred FLOAT
    );
    """
try:
    # Execute the SQL query to create the table
    cursor = connection.cursor()
    cursor.execute(sql_query)
    cursor.commit()

    print("Table created successfully")

except Exception as e:
    print("Connection failed:", e)

Table created successfully

In [9]:
# Close session

connection.close()